{%extends "base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block styles %}  
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}">
{% endblock %}


{% block content %} 
{% load static %}
   <h4 id="heading">Latest News updates</h4>
   {% for response in responses %}
   <div class="clearfix">

   <div class="row">
      <div class="col-3">
         {% if response.image == "None" %}
         <img src="{% static 'images/screennews.png'%}" width="150px" height="160px" alt="Default image">
         {% else %}
         <img src="{{ response.image }}"  width="150px" height="160px" alt="{{ response.image}} image" >
         {% endif %}
      </div>     
      <div class="col-9">
         <h3>{{response.title}}</h3>
         <ul class="list-group">
            <li class="list-group-item">{{response.description}}</li>
            <li class="list-group-item">Published on: {{ response.published }}</li>
            <a href="{{response.url}}"><button class="btn btn-info">Read More</button></a>
         </ul>   
      </div> 
   </div>
   </div><br>
   {% endfor %}
  
{%endblock content%}