{%extends "base1.html"%}
{% load static %}

{% block content %} 
<div class="welcome-page">
   <div class="welcome-bgimage"></div>   
   <div class ="bg-text">
      <div class="news-wrapper" style="background-color: rgb(238, 85, 85);">
      <h3>Be Up To Date</h3>      
      <p>Screen News keeps you posted with relevant, authentic & screened news.</p>
      <hr>
      <div class ="welcome-buttons">
         <button type="button" class="btn btn-primary">READ NEWS</button> 
         <button type="button" class="btn btn-primary">REGISTER</button> 
         <button type="button" class="btn btn-primary">LOGIN</button> 
      </div>      
   </div>
   </div>
</div> 
{%endblock content%}